CAGNARD_VERSION=v0.6.2
BACKEND_PORT=8080
FRONTEND_PORT=5173
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_IMAGE=quay.io/minio/minio:latest
MINIO_MC_IMAGE=quay.io/minio/mc:latest
MINIO_ROOT_USER=cagnard
MINIO_ROOT_PASSWORD=cagnard-secret
CAGNARD_S3_BUCKET=cagnard-demo
